# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/app/node_modules
/blog-service/node_modules

# production
/app/dist
/app/.env
/blog-service/dist
/blog-service/.env

# debug
/app/npm-debug.log*
/blog-service/npm-debug.log*
