.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 40px;
}

#profile-pic {
  max-width: 220px;
}

#profile-pic img {
  border-radius: 50%;
  height: 200px;
}

#hello-text {
  font-size: 60px;
  margin-left: 15px;
}

#hello-subtext {
  color: #9b9b9b;
  font-size: 20px;
}

.content-row {
  margin-top: 40px;
}

.links-row {
  margin-top: 40px;
}

#about-me-title {
  font-size: 42px;
}

#about-me-content div {
  margin-left: 10px;
  font-size: 32px;
}

#contact-icons {
  margin-left: 90px;
  margin-top: 20px;
  display: inline-flex;
}

#contact-icons .fa {
  text-decoration: none;
  padding-right: 20px;
  padding-left: 2px;
  font-size: 32px;
  color: white;
}

#contact-icons .fa:hover {
  opacity: 75%;
}

#about-me-content .fa {
  padding-right: 20px;
  padding-bottom: 10px;
}

/* .fa {
  padding: 20px;
  margin-right: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
} */

.fa-envelope {
  color: white;
}

.fa-github {
  color: white;
}
