{
  "openapi": "3.1.0",
  "info": {
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title": "openapi.v1",
    "version": "1.0",
    "summary": "The API for voget.io",
    "description": "Contains all the operations for the voget.io API",
    "contact": {
      "name": "Matt Voget",
      "url": "voget.io",
      "email": "matt.voget@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://voget.io/api"
    }
  ],
  "paths": {
    "/": {
      "parameters": [],
      "get": {
        "summary": "Health Check",
        "operationId": "health-check",
        "description": "Check the health of the API",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "message": "Hello, this is the api server!"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "parameters": [],
      "get": {
        "summary": "Get All Users",
        "operationId": "get-users",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        },
        "description": "Get all users"
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "title": "User",
        "type": "object",
        "description": "",
        "examples": [
          {
            "id": 142,
            "firstName": "Alice",
            "lastName": "Smith",
            "email": "alice.smith@gmail.com",
            "dateOfBirth": "1997-10-31",
            "emailVerified": true,
            "signUpDate": "2019-08-24"
          }
        ],
        "properties": {
          "id": {
            "description": "Unique identifier for the given user.",
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          },
          "profile": {
            "$ref": "#/components/schemas/Profile"
          }
        },
        "required": [
          "id",
          "email"
        ]
      },
      "Post": {
        "title": "Post",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "authorId": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/User"
          }
        },
        "required": [
          "id",
          "title",
          "createdAt",
          "published",
          "authorId",
          "author"
        ]
      },
      "Profile": {
        "title": "Profile",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        },
        "required": [
          "id",
          "userId",
          "user"
        ]
      }
    }
  }
}